  @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;500;600;700;800&display=swap');

body {
    font-family: 'Bree Serif', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bg-img {
    position: absolute;
    inset: 0;
    background-image: url('img-bg.jpg');
    background-size:cover;
    opacity: .2;
    z-index: -1;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    width: 180px;
    height: 40px;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #000;
    margin: 7px;
    padding: 10;
    color: #000;
    border: 0;
    transition: transform 0.3s;
}

#increment-btn {
    background: linear-gradient(45deg, #ea0000, #f4f406, #03d20d);
}

#increment-btn:active {
    transform: scale(0.95);
    box-shadow: 4px 4px 4px #000;
}

#save-btn {
    background-color: #30e8f2;
}

#save-btn:active {
    transform: scale(0.95);
    box-shadow: 4px 4px 4px #000;
}

#reset-btn {
    background-color: #ed2d2d;
}

#reset-btn:active {
    transform: scale(0.95);
    box-shadow: 4px 4px 4px #000;
}
